h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

/* HEADER FIXES */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden; 
    display: inline-block;
    z-index: 1;
}

.container.content {
    margin-top: 60px;
}

.carbfree .breadcrumb {
    display: none;
}

/* HOMEPAGE CSS */

.homepage .intro {
   width: 100%;
   padding: 15px 0;
   margin: 0px;
}

.homepage .intro h2 {
    text-align: center;
}

.intro p {
    font-size: .92em;
}

.current_exhibits {
    text-align: left;
    margin-bottom: 15px;
}

.current_exhibits h3 {
    font-size: 25px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
}

.past_exhibits {
    margin-bottom: 1.5em;
}

.past_exhibits h4 {
    font-size: 24px;
    border-bottom: 2px solid black;
    margin: 1.2em 0 1em 0;
}

.hp_img {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 2px solid #b29d6c;
        transition: ease .5s;
}

a:hover.hp_img {
    border: 2px solid #8a100b;
}

.current_exhibits .hp_img {
    min-height: 305px;
    background-position: 50% 50% !important;
    background-size: cover !important;
}

.past_exhibits .hp_img {
    min-height: 255px;
    background-position: 50% 0% !important;
    background-size: cover !important;
}

.hp_title {
    position: absolute;
    border-top: 2px solid #b29d6c;
    padding: 5px 0;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
}
.current_exhibits .hp_title {
    min-height: 50px;
}

.past_exhibits .hp_title {
    min-height: 25px;
 }

.current_exhibits a .hp_title {
    font-size: 32px;
}

.past_exhibits a .hp_title {
    font-size: 16px;
}

a .hp_title {
    color: black;
    font-size: 32px;
    background: rgba(255,255,255,.9);
    transition: ease 1s;
}

a:hover .hp_title, a:active .hp_title {
    background: rgba(255,255,255,1);
    color: #430000;
    border-top: 2px solid #8a100b;
}

.oldgallery, .archivegallery {
    margin: 0 0 1.5em 0;
}

/* SILLY HACK TO HIGHLIGHT FIRST 2 CHILDREN OF OLD GALLERY */

/* HOURS */ 


#weekly_hours_container {border: 1px solid #fff; border-bottom:none;}
#weekly_hours_container ul.dailyhours {padding:2px 0; border-bottom:1px solid #fff;}
/*#weekly_hours_container ul.dailyhours:nth-child(odd) {background-color:#EAEAEA;}*/
#weekly_hours_container ul.today {font-weight:600; background-color:#DCB8A0; color:#000;}
#weekly_hours_container ul.dailyhours li {display:inline-block; margin:0; vertical-align:center; padding: 1px 0 1px 4px;}
#weekly_hours_container ul.dailyhours li.day {width:30%;}
#weekly_hours_container ul.dailyhours li.date {width:30%;}
#weekly_hours_container ul.dailyhours li.hours {width:40%;}