/* Figures (images + captions) floating in narrative text.

   For .embedded-figure elements inside .gallery-row elements,
   see gallery-row.scss */

/* At iPad/mobile breakpoints, figures should occupy 100% of 
   text width. */
.embedded-figure {
    padding: 16px;
}

/* Styles for desktop. */
@media (min-width: $screen-lg-min) {
    .embedded-figure {
        padding: 16px;
    }

    .embedded-figure--right {
        float: right;
        clear: right;
    }

    .embedded-figure--left {
        float: left;
        clear: left;
    }

    .embedded-figure--center {
        max-width: 100%;
    }

    .embedded-figure__caption {
        font-size: $font-size-small;
    }

    .embedded-figure__img {
        max-width: 100%;
    }
}