/* Figures on gallery pages. On desktop, they are all in a 
   row.
     
   For .embedded-figure elements inside .gallery-row elements,
   see gallery-row.scss */

/* Defines how figures appear in gallery rows. Only applies
   to breakpoints larger than Bootstrap's "medium", which 
   is iPad width. */
@media (min-width: #{map-get($grid-breakpoints, "lg")}) {
    .gallery-row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-bottom: 0;

        .gallery-figure, .embedded-figure {
          flex-basis: 0;
          flex-grow: 1;  
        }

        .gallery-figure__figure, .embedded-figure__figure {
            max-width: 100%;
            padding: 1rem;
            margin: .5em 1em .5em 1em;
        }

        .gallery-figure__caption, .embedded-figure__caption {
            font-size: $font-size-sm;
        }

        .gallery-figure__img_holder, .embedded-figure__img-holder {
            position: relative;
            height: 400px;
        }

        .gallery-figure__img, .embedded-figure__img {
            max-height: 100%;
            position: absolute;
            bottom: 0;
        }

        /* Remove right/left/center positioning for figures in 
           gallery rows. Figures in rows appear in order. */
        .embedded-figure--right {
            float: none;
            clear: none;
        }

        .embedded-figure--left {
            float: none;
            clear: none;
        }

        .embedded-figure--center {
            max-width: initial;
        }
    }
}