/* Defines how figures appear in gallery rows. Only applies
   to breakpoints larger than Bootstrap's "medium", which 
   is iPad width. */
@media (min-width: #{map-get($grid-breakpoints, "md")}) {
    .gallery-row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-bottom: 5em;

        .embedded-figure {
            max-width: 100%;
            padding: 1rem;
            margin: .5em 1em .5em 1em;
        }

        .embedded-figure__caption {
            height: 5em;
            font-size: $font-size-sm;
        }

        .embedded-figure__img {
            max-height: 400px;
        }

        /* Remove right/left/center positioning for figures in 
           gallery rows. Figures in rows appear in order. */
        .embedded-figure--right {
            float: none;
            clear: none;
        }

        .embedded-figure--left {
            float: none;
            clear: none;
        }

        .embedded-figure--center {
            max-width: initial;
        }
    }

    /* For backwards compatibility. There used to be a 
       {{<galleryfigure>}} shortcode, but we just use 
       {{<figure>}} for everything now. */
    .gallery-figure {
        margin: .5em 1em .5em 1em;
    }

    .gallery-figure__caption {
        height: 5em;
    }

    .gallery-figure__img {
        max-height: 400px;

    }
}