{{ define "exhibit-heading" }}
{{ partial "exhibit-heading.html" . }}
{{ end }}

{{ define "main" }}

<div class="col-md-12 main-image">
    <figure>
        {{ if isset .Params "front_image" | and (ne .Params.front_image "") }}
        {{ $img := $.Resources.GetMatch .Params.front_image }}
        {{ $resized := $img.Resize "800x q50" }}
        <img src="{{ $resized.RelPermalink }}">
        {{ end }}
        <figcaption>
            <h3>{{ .Params.front_caption_headline }}</h3>
            <p>{{ .Params.front_caption_text | markdownify }}</p>
        </figcaption>
    </figure>
</div>
<div class="col-md-12 intro-content">
    {{ .Content }}
</div>
<div class="col-md-12">
    {{ partial "prev-next.html" . }}
</div>
{{ end }}