
.exhibit-nav__menu {
    padding: 0;
    list-style: none;
}

.exhibit-nav__item--active {
    font-weight: 600;
}

/* Show the non-mobile menu to screen reader users
   on mobile. */
.non-mobile-menu {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* iPad and bigger */
@media (min-width: #{map-get($grid-breakpoints, "md")}) {

    /* Display non-mobile menu and hide mobile menu */
    .exhibit-nav--desktop {
        position: initial;
        width: initial;
        height: initial;
        padding: initial;
        overflow: initial;
        clip: initial;
        white-space: initial;
        border: none;
    }

    .exhibit-nav--mobile {
        display: none;
    }
}