.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.modal {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay,
.lightbox__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal__container {
    background: transparent;
    overflow: visible;
    padding: 0;
    max-height: 95vh;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    color: white;
    border: 0;
    position: absolute;
    top: 0;
    right: -1em;
}

.modal__header .modal__close:before {
    content: "\2715";
}

.modal__content {
    margin-top: 32px;
    margin-bottom: 32px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
}

.modal__btn {
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    border-radius: 4px;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}



/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay,
.lightbox__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}

.lightbox__launch-button {
    cursor: pointer;
}

.lightbox__content {
    background-color: transparent;
    padding: 1em;
    max-height: 85vh;
    max-width: 75%;
    position: absolute;
}

.lightbox__figure--portrait {
    display: flex;
}

.lightbox__figure--portrait .lightbox__image {
    max-height: 75vh;
}

.lightbox__figure--portrait .lightbox__caption {
    margin-left: 1em;
    align-self: flex-start;
    padding: 1em;
    background-color: #f6f6f6;
}

.lightbox__figure--landscape {
    max-width: 100%;
    margin: 16px auto;
    display: table;
}

.lightbox__figure--landscape .lightbox__image {
    display: block;
    max-height: 75vh;
}

.lightbox__figure--landscape .lightbox__caption {
    margin-top: 8px;
    display: table-caption;
    caption-side: bottom;
}

/*
.lightbox__figure {
    width: fit-content;
    max-width: 100%;
    margin: 16px auto;
    display: table;
}

*/

.lightbox__image {
    max-height: 85vh;
}