// Changes we make to the Bootstrap default variables.
@import 'variables';

@import 'bootstrap/bootstrap';

// Red BC Libraries header
@import 'library-header';

// Navigation
@import 'exhibit-nav.scss';
@import 'prev-next-nav';
@import 'breadcrumbs';

// Shortcodes
@import 'shortcodes/large-gallery-figure';
@import 'shortcodes/gallery-row';
@import 'shortcodes/embedded-figure';
@import 'shortcodes/in-text-heading';

// Modal window (lightbox)
@import 'modal';

// Exhibit
@import 'exhibit-main-page';
@import 'exhibit-heading';

main {

    /* Common styles for all figures. */
    figure {
        flex: 1 1 0;

        h4 {
            font-size: $font-size-small;
            font-weight: 600;
        }

        p {
            font-size: $font-size-small;
        }

        img {
            max-width: 100%;
            margin-bottom: 1em;
            image-orientation: from-image;
        }
    }
}

footer {
    min-height: 300px;
}

.exhibit-title {
    @extend .col-md-12;
}

.page-title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 1em;
}

h2 {
    margin-top: 0;
}

.homepagerefresh .megamenu-container {
    z-index: 1;
}

/* Force megamenu to float right */
.navbar-nav {
    float: right;
}