@import 'bootstrap/bootstrap';
@import 'library-header';
@import 'large-gallery-figure';


$small_font: 16px;
$med_font: 18px;

body {
    font-family: 'Open Sans', sans-serif;
    font-size: $med_font;
}

nav {
    ul {
        padding: 0;
        list-style: none;

        li {
            &.active {
                font-weight: 600;
            }
        }
    }
}

main {
    .gallery-row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        margin-bottom: 1em;

        figure {
            margin: .5em 1em .5em 1em;
        }
    }

    figure {
        flex: 1 1 0;

        h3 {
            font-size: $small_font;
            font-weight: 600;
        }

        p {
            font-size: $small_font;
        }

        img {
            max-width: 100%;
            margin-bottom: 1em;
        }
    }

    .embedded-figure {
        max-width: 33%;
        padding: 1rem;

        &.side-right {
            float: right;
        }

        &.side-left {
            float: left;
        }

        figcaption {
            h3 {
                font-size: $small_font;
                font-weight: 600
            }
        }

        img {
            max-width: 100%;
        }
    }

    .prev-next {
        .next-wrapper {
            text-align: right
        }
    }
}

i.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    margin-left: .25em;
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    margin-right: .25em;
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  footer {
      min-height: 300px;
  }