@import 'bootstrap/bootstrap';

// Default values.
@import 'variables';

// Red header
@import 'library-header';

@import 'home-page';

@import 'prev-next-nav';

// Shortcodes
@import 'shortcodes/large-gallery-figure';
@import 'shortcodes/gallery-row';
@import 'shortcodes/embedded-figure';

body {
    font-family: $body_font;
    font-size: $med_font_size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading_font;
}

nav {
    ul {
        padding: 0;
        list-style: none;

        li {
            &.active {
                font-weight: 600;
            }
        }
    }
}

main {
    figure {
        flex: 1 1 0;

        h3 {
            font-size: $small_font_size;
            font-weight: 600;
        }

        p {
            font-size: $small_font_size;
        }

        img {
            max-width: 100%;
            margin-bottom: 1em;
            image-orientation: from-image;
        }
    }
}

footer {
    min-height: 300px;
}