/* Redefined values from bootstrap */
$font-family-sans-serif:      "Open Sans", sans-serif !default;
$font-family-serif:   "Lora", serif !default;

/* Bootstrap default font size. 1.125rem == 18px usually */
$font-size-base: 18px !default;

/* Hide breadcrumb background and use different divider */
$breadcrumb-divider: quote(">") !default;
$breadcrumb-bg: white !default;