{{/* Resize and compress images */}}
{{ $alt := .Get "alt" }}
{{ $inner := .Inner | markdownify }}
{{ $headline := .Get "headline" | markdownify }}

{{ $name := replace (.Get "src") "../" "" }}
{{ with $raw_img := .Page.CurrentSection.Resources.GetMatch $name }}
{{ $resized := $raw_img.Resize "x400 q80"}}
    <figure class="gallery-figure">
        <img class="gallery-figure__img" src={{ $resized.RelPermalink }} alt="{{ $alt }}">
        <figcaption class="gallery-figure__caption">
            <h4>{{ $headline }}</h3>
            <p>{{ $inner }}</p>
        </figcaption>
    </figure>
{{ end }}