{{ $alt := .Get "alt" }}
{{ $size := .Get "size" }}
{{ $inner := .Inner | markdownify }}
{{ $headline := .Get "headline" | markdownify }}

{{ $name := replace (.Get "src") "../" "" }}
{{ with $raw_img := .Page.CurrentSection.Resources.GetMatch $name }}
{{ $resized := $raw_img.Resize "600x q80"}}

<div class="large-gallery-figure large-gallery-figure--{{ $size }}">
    <div class="large-gallery-figure__accompanying-text">{{ $inner }}</div>
    <figure>
        <img src="{{ $resized.RelPermalink }}" alt="{{ $alt }}" class="large-gallery-figure__img">
        <figcaption class="large-gallery-figure__caption">{{ $headline }}</figcaption>
    </figure>
</div>
{{ end }}