<nav>
    <h2>Exhibits</h2>
    <ul>
        {{/* Get all the sections */}}
        {{ $section := where .Site.Pages "Kind" "section"  }}

        {{/* Gets the first eight exhibits */}}
        {{ $eight :=  first 8 $section}}
        
        {{/* Gets the first two of the first eight */}}
        {{ $first_two := first 2 $section }}

        {{/* Gets the last six of the first eight */}}
        {{ $next_six := last 6 $section }}

        {{ range $first_two }}
        {{/* First two stuff here */}}
        {{ end }}

        {{ range $next_six }}
        {{/* First two stuff here */}}
        {{ end }}

        {{ range $section }}
        <li>
            <a href="{{ .RelPermalink}}" style="font-size: .85em;">
            {{safeHTML .Params.Pre}}{{.Params.exhibit_title}}{{safeHTML .Params.Post}}
            </a>
        </li>
        {{ end }}
    </ul>
</nav>