    <div class="homepage">
    <!-- TITLE AND INTRO -->
    <div class="row intro">

        <div class="col-md-12">
            <h2>Burns Online Exhibits</h2>
        </div>

        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
        <p>John J. Burns Library develops and promotes exhibits featuring a wide variety of special collection formats, topics, and community interests. While we encourage everyone to <a href="https://libguides.bc.edu/burns/visit">visit our current exhibits</a> in person, online versions allow those unable to come to Chestnut Hill to engage with our special collections.</p>

        <p>Have a question? <a href="https://libguides.bc.edu/burns/contact">Contact us</a>.</p>

        <p>Want to know what is happening at Burns Library? <a href="https://www.us10.list-manage.com/subscribe?u=7a6431091bc9d4cb794b1d7ae&id=e9d970e0a9">Join our mailing list</a>. </p>
        </div>
        <div class="col-md-2">&nbsp;</div>

    </div>
    <!-- END TITLE AND INTRO -->

    <div class="row current_exhibits">
        
        <div class="col-md-6 col-12">
            <h3>Current Exhibits</h3>
        </div>
        
        <div class="col-md-6 col-12">&nbsp;</div>

    <!-- TOP 2 LATEST EXHIBITS -->   

        {{ $allthepages := where .Site.Pages "Kind" "section" }}

        {{ range $allthepages | first 2 }} 

        {{ $img := .Params.front_image }}  

            <div class="col-md-6 col-12">
                
                <a href="{{ .RelPermalink }}" alt="{{.Params.exhibit_title}}" class="hp_img" 
                style="background:url({{ .RelPermalink }}{{ $img }})">
                    <span class="hp_title">
                         {{.Params.exhibit_title}} 
                    </span>    
                </a>

            </div>

        {{ end }}

    <!-- END TOP TWO -->

    </div>

    <div class="row past_exhibits">

            <div class="col-md-6 col-12">
                <h4>Past Exhibits</h4>
            </div>

            <div class="col-md-6 col-12">&nbsp;</div>

        <!-- A BUNCH OF OLDER EXHIBITS -->
        {{ range $allthepages | first 20 | }}

            <div class="col-md-3 col-6 oldgallery">
                <a href="{{ .RelPermalink }}" class="hp_img" 
                style="background:url({{ .RelPermalink }}tile-square.jpg)">
                    <span class="hp_title">
                        {{.Params.exhibit_title}}
                    </span>    
                </a>
            </div>
        {{ end }}

        <!-- END A BUNCH OF -->
</div>

    <!-- ARCHIVE LINK -->
    <div class="row prev-next">
        <div class="col-md-6 prev-wrapper">
            &nbsp;
        </div>

        <div class="col-md-6 next-wrapper">
           <div class="col-md-12">
                <a href="{{ .RelPermalink }}archive" class="next-link">View Archived Exhibits<i class="nav-arrow nav-arrow--right"></i></a>
            </div>
                
        </div>
    </div>
    
</div>

