<div id="lightbox-{{ .modal_id }}" class="modal micromodal-slide" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true">
      <main class="modal__content">
          <button class="modal__close" aria-label="Close modal" data-micromodal-close>X</button>
        <img id="image-lightbox-{{ .modal_id }}" class="lightbox__image" data-src="{{ .img.RelPermalink }}">
      </main>
    </div>
  </div>
</div>